{% extends 'base.html' %}

<!-- Page Content -->

{% block content %}

<!-- Blog Entries Column -->
<div class="col-md-8">
  <h1 class="my-4">{{ ctg_name }}</h1>

  {% for post in posts %}

  <!-- Blog Post -->
  <div class="card mb-4">
    <img
      class="card-img-top img-fluid"
      src="{{ post.photo.url }}"
      alt="Card image cap"/>
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.body }}</p>
      <a href="{% url 'detail-post' post.id %}" class="btn btn-primary"
        >Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      {{ post.date }}
      <a href="#">{{ post.author.profile.full_name }}</a>
    </div>
  </div>
  {% endfor %}

  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>
</div>

{% endblock %}
